.hero-section {
  min-height: 100vh;
  padding: 4rem 2rem;
  background: linear-gradient(351deg, #8989ce, #b627d5);
  background: linear-gradient(191deg, #c72a41, #a938b2);
}
p {
  padding: 1rem;
  color: var(--text-clr);
  background: var(--dark-clr);
  border-radius: 1rem;
}
