*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
:root {
  --dark-clr: #282c34;
  --link-clr: #61dafb;
  --text-clr: #d0d0d0;
  /* font-size: calc(10px + 2vmin); */
  font-size: clamp(14px, 10px + 1vmin, 20px);
}
::selection {
  background: #ef2d56;
  color: #fff;
}
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
